.user_cards_table{
  width: 80%;
  display: flex;
  flex-direction: column;
 list-style: none;
 
 box-sizing: border-box;
}

.user_cards_table ul{
  display: flex;
  flex-direction: row;
 list-style: none;
flex-wrap:wrap;
}
/* .user_cards_table li{
  width: 80%;

} */


.user_card{
  display: block;
  width: 90%;
  background-color: beige;
  border-radius: 14px;
  margin: 30px;
  padding: 10px;
}

.user_card_photo img{
  max-width: 200px;
  max-height: 200px;
  padding: 10px;
  border-radius: 4px;
  margin: auto;
}
.user_card_info{
  display: flex;
  flex-direction: column;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}